header {
	background-color: black;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #c1aa73 !important;
}
header .icons i {
	color: #c1aa73;
	font-size: 20px;
	border: 4px solid #c1aa73;
	border-radius: 50%;
	padding: 5px 7px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
header .navbar-toggler {
	border-color: rgb(193,170,115) !important;
}
.slider .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c1aa73' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
 
.slider .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c1aa73' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
.slider .carousel-caption {
	font-size: 32px;
	width: 400px;
	padding: 0 35px;
	top: 30%;
}
.slider .carousel-caption a, .hakkimizda a {
	font-size: 22px;
	padding: 0 35px;
	color: Black;
	background-color: #c1aa73;
	text-decoration: none;
	border-radius: 20px;	
}

.one-cıkanlar h2, .cok-satanlar h2 {
	margin: 0;
	padding: 40px 0;
}
.one-cıkanlar img, .cok-satanlar img {
	margin-bottom: 1.25rem;
}
.one-cikanlar a{
	color: black;
	text-decoration: none;
}
.cok-satanlar {
	background-color: #fafafa;
	margin: 40px 0;
	padding-bottom: 20px;
}
.e-bulten {
	background-color: #c1aa73;
	padding: 50px 0;
	color: White;
	margin: 50px 0;
}
.e-bulten form {
	margin-top: 80px;
}

.e-bulten form input.yaziAlani {
	background-color: transparent;
	color: White;
	border: none;
	border-bottom: 2px solid White;
}

.e-bulten form input.yaziAlani: :placeholder {
	color: White;
}

.e-bulten form input.buton {
	background-color: Black;
	color: White;
	border: none;
	padding: 0 38px;
}








@media (min-width: 768px) (max-width: 1200px) {
	.slider .carousel-caption {
		font-size: 16px;
		width: 200px;
		padding: 0 5px;
		top: 25%;
	}
	.slider .carousel-caption a {
		font-size: 14px;
		padding: 0 15px;
		color: Black;
		background-color: #c1aa73;
		text-decoration: none;
		border-radius: 20px;	
	}
}
@media (max-width: 768px) {
	.slider .carousel-controş-prev-icon, .slider .carousel-control-next-icon {
		width: 20px;
		height: 20px;
	}
	.one-cikanlar h2, .cok-satanlar h2 {
		font-size: 16px;
		padding: 15px 0;
		margin: 0;
	}
	.one-cikanlar p, .cok-satanlar p {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.e-bulten form input.buton {
		margin-top: 20px;
	}
}

.footer-top a {
	text-decoration: none;
	color: #c1aa73 ;
}
.footer-top .footer-top-first span {
	color: #c1aa73 ;
}
.footer-top .footer-top-first p, .footer-top-second p, .footer-top-third p {
	color: #c1aa73 ;
	font-size: 22px ;
}
.footer-top .footer-top-first i {
	color: #c1aa73 ;
	margin: 0 10px;
}

.footer-top .footer-top-second p , .footer-top-third p {
	padding-top: 50px ;
}
.footer-top .footer-top-second a{
	text-decoration: none ;
	color: #c1aa73 ;
}

















